body{
    background-color: #C6E1F7;
    background-image: url("../images/BackgroundDraft1.png");
}

p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
ul{
    margin: auto;
    text-align: center;
    padding: 100px
}

li{
    display: inline-block;
    padding: 10px;
    width: 150px;
}

img.pics {
    height: 150px;
    width: 150px;
    display: inline;
}